{% extends "base.html" %}
{% block content %}
<div class="well">
	<div class = "page-header">
		<h2>About Me</h2>
		<hr/>
<p>
<b>Name:</b> Caroline<br>
<b>Occupation:</b> UBC Computer Science Student<br>
<b>Interests:</b> Programming, drawing, biking<br>
<br>
I wrote a version of this blog engine for a friend using the Google App Engine 
Python api and Jinja2 templates. I have since decided to use it to showcase some 
of my projects and share my thoughts on progamming related things :) 
</p>

{% endblock %}