{% extends "base.html" %}
{% block content %}
<div class="well">
		<h1>About Me</h1>
		<hr/>
<p><b>Name:</b> Adriana<br>
<b>Occupation:</b> ESL teacher.<br>
<b>Interests:</b> Healthful living, how to make a priority list, human relationships, food, self development, the funny side of life.<br>
<b>Hobbies:</b> Writing.<br>
<br>
Hi! My name is Adriana, and this is my Website. This site exists in order to showcase my writing on several different topics, in hopes of one day making a partial living as a journalist and/or novelist, or some other facet of writing, and also to share some articles and lessons I have created for multi-level learners of English as a Second Language, my specialty field.
If you are a motivated language learner, I sincerely believe that I have a wealth of tips, advice and methods for you to improve your English and begin speaking and understanding at a much more sophisticated level. I believe in my own skills as an English teacher and language learner, (I study Spanish at the pre-intermediate level), and feel that I have a lot more to offer students than what can be taught or learned in a traditional classroom.
<br><br>
Thank you for visiting my Website, Adriana English!
<br><br>
If you have any questions or comments, please email me at <a href="mailto:adrijdin@gmail.com">adrijdin@gmail.com.</a></p>
	</div>

{% endblock %}
