{% extends "base.html" %}
{% block content %}
{%- if not notes and saved:-%}
<h1>No Saved Data</h1>
{% endif %}
{%- if not notes and not saved:-%}
<h1>Coming Soon!</h1>
{% endif %}
{% for note in notes %}
		<div class="hero-unit">
			<h2><a href='/single?post_id={{ note.key() }}'>{{ note.title }}</a></h2>
			{%- if img[note]: -%}
				<p align="center"><img src="{{ img[note] }}" alt="banner" style="margin:auto; margin-bottom:20px;"/></p>
			{% endif %}
			{%- if video[note] -%}
			  <p align="center"><iframe width="95%" height="360" style="margin:auto;" frameborder="0" src="http://www.youtube.com/embed/{{ video[note] }}?feature=player_embedded" allowfullscreen></iframe></p>
			{% endif %}
			<p>{{ note.text }}</p> 
		</div>
		<div class="pull-right" style="color:#999999;">
		{%- if note.date: -%}
    		Created: {{ note.date.strftime('%Y-%m-%d')  }}
    	{% endif %}
 		</div>
 		{%- if users.get_current_user(): -%} 
 		<table>
 		<tr>
 		<td>
		 	<form action="/post" method="get">
    			<input type="hidden" name="post_id" value="{{ note.key() }}" />
    			<input class="btn-medium btn-inverse" type="submit" value="edit"/>
 			</form>
 			</td>
 			<td>
 			<form action="/delete" method="post" onsubmit=
 				"return confirm('Are you sure you want to delete this post? This action cannot be undone');"">
    			<input type="hidden" name="post_id" value="{{ note.key() }}" />
    			<input type="hidden" name="current_page" value="{{ currpage }}" />
    			<input class="btn-medium btn-danger" type="submit" value="delete"/>
 			</form>
 			</td>
 			</tr>
 		</table>
 		{% endif %}
 		<br><br>
{% endfor %}
{%- if isNext or isPrev -%}
 			<ul class="pager">
  			<li class="{%- if not isPrev -%} previous disabled {% endif %}
  					   {%- if isPrev -%} previous {% endif %}">
    		{%- if isPrev -%}<a href="{{ currpage }}?pg={{ pagenum - 1 }}">&larr; Newer</a>{% endif %}
    		{%- if not isPrev -%}<a href="#">&larr; Newer</a>{% endif %}
 			 </li>
  			 <li class="{%- if not isNext -%} next disabled {% endif %}
  					   {%- if isNext -%} next {% endif %}">
    		{%- if isNext -%}<a href="{{ currpage }}?pg={{ pagenum + 1 }}">Older &rarr;</a>{% endif %}
    		{%- if not isNext -%}<a href="#">Older &rarr;</a>{% endif %}
  		</li>
		</ul>
{%- endif -%}
{% endblock %}