{% extends "base.html" %}
{% block content %}
{%- if not notes.keys():-%}
<h1>Coming soon!</h1>
{% endif %}
{% for note in notes.iterkeys() %}
		<div class="hero-unit">
			<h1>{{ note.title }}</h1>
			{%- if notes[note]: -%}
				<img src="{{ notes[note] }}" alt="banner" />
			{% endif %} 
			<p>{{ note.text }}</p> 
		</div>
		<div class="pull-right" style="color:#999999;">
    	Created: {{ note.date.strftime('%Y-%m-%d')  }} TODO: Status: {{ note.status }}
 		</div>
		 <form action="/post" method="get">
    		<input type="hidden" name="id" value="{{ note.key() }}" />
    		<input class="btn-mini btn-inverse" type="submit" value="edit"/>
 		</form>
{% endfor %}
{% endblock %}