{% extends "base.html" %} {% block content %} {%- if not date:-%}
<script type="text/javascript" src="../resources/post.js"></script>
{%- endif -%} {%- if fulldate: -%}
<span class='label label-info pull-right'>Last Saved: {{
	fulldate.strftime('%Y-%m-%d %H:%M:%S') }}</span>
{% endif %}
<legend>Create Your Blog Post</legend>
<div class="control-group">
	<div class="controls">
		<div class="row-fluid">
			<form action='/None' method="POST" class="well" id="main_form"
				enctype="multipart/form-data" onsubmit="return Validate(this);">
				<table>
					<tr>
						<td>
							<h4>Title:</h4></td>
						<td>
							<h4>Date:</h4></td>
					</tr>
					<tr>
						<td><input class="input-box-lrg" type="text"
							value='{{ title }}' name="subject" id="id_title"
							style="margin-right: 15px;" /></td>
						<td><input class="input-box-lrg" type="text" id="datepicker"
							name="date" value='{{ date }}'></td>
					</tr>
					<tr>
						<td>
							<h4>Youtube URL:</h4></td>
					</tr>
					<tr>
						<td><input class="input-box-lrg" type="text" id="id_vid"
							name="video" {%- if youtube: -%} value="{{ youtube }}" {% endif %}/>
						</td>
					</tr>

				</table>
				{%- if image: -%}
				<div class="pull-right">
					<input type="button" class="btn-medium btn-danger"
						id="delete_image" value="Remove Image">
				</div>
				<p align="center">
					<img src="{{ image }}" alt="banner" style="margin: auto;" />
				</p>
				{% endif %}
				<h4>Post:</h4>
				<div class="boxsizingBorder">
					<div>
						<textarea style="height: 350px; width: 100%;" name="content"
							id="id_text" class="tinymce">{{ text }}</textarea>
					</div>
					<input type="hidden" name="id" value='{{ id }}'> <input
						type="hidden" id="posttype" name="posttype" value="caroline">
				</div>
				<br>
				<div class="pull-right">
					<div class='file-checkbox'>
						{%- if not image:-%} <label><b>Upload a Picture</b>
						</label> <input class='file' type='file' name='file' id="fileInput" />
						{%- endif -%}
					</div>
				</div>
				<br> <input class="btn btn-medium" value="Post" name="post"
					type="button" id="post" style="margin-right: 5px;" /> <input
					class="btn btn-medium" value="Save" name="save" type="button"
					id="save" />

			</form>
		</div>
	</div>
</div>
{% endblock %}

