{% extends "base.html" %}
{% block content %}
	    <script type="text/javascript">
	    	$(function() {
	    		$("#id_text_tbl").css("width", "100%")
	    	});
	    	$(function() {
	    		jQuery('#delete_image').click( function () {
	    			$.post("/delete_image", {post_id: '{{ id }}'},
	    		    	function(arg)
	    		    	{
	    		    		location.reload();
	    		    	}
	    			)
	    		} );
	    		});
	    </script>
	    {%- if not date:-%}
	    	<script>
	    	$(function() {
				$( "#datepicker" ).datepicker("setDate", new Date());
			});
	    	</script> 
	    {%- endif -%}
	    {%- if fulldate: -%}
    		<span class='label label-info pull-right'>Last Saved: {{ fulldate.strftime('%Y-%m-%d %H:%M:%S') }}</span>
        {% endif %}
		<legend>Create Your Blog Post</legend>
			<div class="control-group">
			<div class="controls">
			<div class="row-fluid">
				<form action='{{ upload_url }}' method="POST" class="well" id="main_form" enctype="multipart/form-data">
				<table>
				   <tr>
				   <td>				
						<h4>Title:</h4>
				   </td>
					<td>
						<h4>Date:</h4>
					</td>
					</tr>
					<tr>
					<td>
					  <input class="input-box-lrg" type="text" value='{{ title }}' name="subject" id="id_title" style="margin-right: 15px;"/>
					 </td>
					 <td>
						<input class="input-box-lrg" type="text" id="datepicker" name="date" value='{{ date }}'>
						</td>
						</tr>
					 <tr>
					 <td>
					   <h5>Youtube URL:</h5>
					  </td>
					  </tr> 
					   <tr><td><input class="input-box-lrg" type="text" id="id_vid" name="video" value="{{ youtube }}"/></td></tr>
					   
					</table>
					{%- if image: -%}
					    <div class="pull-right"><input type="button" class="btn-medium btn-danger" id="delete_image" value="Remove Image"></div>
						<p align="center"><img src="{{ image }}" alt="banner" style="margin:auto; "/></p>
					{% endif %}	
					<h4>Post:</h4>
					<div class="boxsizingBorder">
						<div>
						<textarea style="height: 350px; width: 100%;" name="content" id="id_text" class="tinymce">{{ text }}</textarea>
						</div>
						<input type="hidden" name="id" value='{{ id }}'>
					</div>
						<table>
					{%- if not image:-%}
					   <tr>
					   	<h5>Upload a Picture:</h5>
					     <input class="input-file" style="margin-top: 2px;" type="file" name="file" id="fileInput" />
					   </tr>
					  {%- endif -%}
					   <tr>
					   	<td>					
							<input class="btn-large btn-primary" type="submit"name="post" value=Post style="margin-right:5px" /> 
						</td>
						<td>
							<input class="btn-large btn-inverse" type="submit" name="save" value=Save />
						</td>
						<td>
						
						</td>
					   </tr>
					</table>
				</form>
			</div>
			</div>
</div>
{% endblock %}

