{% extends "base.html" %}
{% block content %}
	    <script type="text/javascript">
	    	$(function() {
	    		$("#id_text_tbl").css("width", "100%")
	    	});
	    	$(function() {
				$( "#datepicker" ).datepicker("setDate", new Date());
			});
	    </script> 
		<legend>Create Your Blog Post</legend>
			<div class="control-group">
			<div class="controls">
			<div class="row-fluid">
				<form action='{{ upload_url }}' method="POST" class="well" id="main_form" enctype="multipart/form-data">
				<table>
				   <tr>
				   <td>				
						<h4>Title:</h4>
				   </td>
					<td>
						<h4>Date:</h4>
					</td>
					</tr>
					<tr>
					<td>
					  <input class="input-box-lrg" type="text" value='{{ title }}' name="subject" id="id_title" style="margin-right: 15px;"/>
					 </td>
					 <td>
						<input class="input-box-lrg" type="text" id="datepicker">
						</td>
						</tr>
					</table>	
					<h4>Post:</h4>
					<div class="boxsizingBorder">
						<div>
						<textarea style="height: 350px; width: 100%;" name="content" id="id_text" class="tinymce">{{ text }}</textarea>
						</div>
						<input type="hidden" name="id" value='{{ id }}'>
					</div>
					<br/>
					<button class="btn-mini btn-inverse" style="margin:4px;" onclick="$('#id_text').tinymce().hide();return false;">Hide Panel</button>
					<button class="btn-mini btn-inverse" style="margin:4px;" onclick="alert($('#id_text').html());return false;">Get HTML</button>
					<button class="btn-mini btn-inverse" style="margin:4px;" onclick="alert($('#id_text').tinymce().selection.getContent());return false;">Get selected HTML</button>
					<button class="btn-mini btn-inverse" style="margin:4px;" onclick="alert($('#id_text').tinymce().selection.getContent({format : 'text'}));return false;">Get selected text</button>
					<button class="btn-mini btn-inverse" style="margin:4px;" onclick="$('#id_text').tinymce().execCommand('mceReplaceContent',false,'<b>{$selection}</b>');return false;">Remove formatting from selection</button>
					<br/><br/>
					<table class="pull-right">
					   <tr>
					   <td>
					   	<h5>Upload a Picture:</h5>
					   </td>
					   <td>
					     <input class="input-file" style="margin-top: 2px;" type="file" name="file" id="fileInput" />
					   </td>
					   </tr>
					   <tr>
					   <td>
					   <h5 style="margin-right: 5px;">Enter YouTube URL:</h5> 
					   </td>
					   <td><input class="input-box-lrg" type="text" id="id_vid" name="video" /></td>
					   </tr>
						</table>
						<br/>
						<table>
					   <tr>
					   	<td>					
							<input class="btn-large btn-primary" type="submit"name="post" value=Post style="margin-right: 10px;" /> 
						</td>
						<td>
							<input class="btn-large btn-inverse" type="submit" name="save" value=Save />
						</td>
					   </tr>
					</table>
				</form>
			</div>
			</div>
</div>
{% endblock %}

