{% extends "base.html" %}
{% block content %}
<div class="well">
	<h1>Profile</h1>
	<hr/>
	<h3>Total posts</h3>
	<p>Currently there are <a href="/all">{{ totalposts }}</a> published posts in the system.</p>
	<form action="/profile" method="post">
	<h3>Posts per page</h3>
	<p>Each page can have a maximum of <input class="input-box-lg" type="text" value='{{ pagesize }}' name="max" id="max" style="margin:5px; length:10px"/> posts on it.</p>
    <div class="pull-right">
	   <input class="btn-medium btn-inverse" type="submit" value="submit"/>
	</div>
	</form>
	<br>
</div>

{% endblock %}